# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/BackEnd/FCIH.ArtGallery/.vs/FCIH.ArtGallery
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.APIs/obj/Debug/net8.0/FCIH.ArtGallery.APIs.AssemblyInfo.cs
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.APIs/obj/Debug/net8.0/FCIH.ArtGallery.APIs.AssemblyInfoInputs.cache
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.APIs/obj/Debug/net8.0/FCIH.ArtGallery.APIs.csproj.AssemblyReference.cache
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.APIs.Controllers/obj/Debug/net8.0/FCIH.ArtGallery.APIs.Controllers.AssemblyInfo.cs
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.APIs.Controllers/obj/Debug/net8.0/FCIH.ArtGallery.APIs.Controllers.AssemblyInfoInputs.cache
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.APIs.Controllers/obj/Debug/net8.0/FCIH.ArtGallery.APIs.Controllers.csproj.AssemblyReference.cache
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.Core.Application/obj/Debug/net8.0/FCIH.ArtGallery.Core.Application.AssemblyInfo.cs
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.Core.Application/obj/Debug/net8.0/FCIH.ArtGallery.Core.Application.AssemblyInfoInputs.cache
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.Core.Application/obj/Debug/net8.0/FCIH.ArtGallery.Core.Application.csproj.AssemblyReference.cache
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.Core.Application.Abstraction/obj/Debug/net8.0/FCIH.ArtGallery.Core.Application.Abstraction.AssemblyInfo.cs
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.Core.Application.Abstraction/obj/Debug/net8.0/FCIH.ArtGallery.Core.Application.Abstraction.AssemblyInfoInputs.cache
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.Core.Domain/obj/Debug/net8.0/FCIH.ArtGallery.Core.Domain.AssemblyInfo.cs
/BackEnd/FCIH.ArtGallery/FCIH.ArtGallery.Core.Domain/obj/Debug/net8.0/FCIH.ArtGallery.Core.Domain.AssemblyInfoInputs.cache
