/* AboutUs.module.css */

.aboutUsSection {
    background-color: #f9f9f9;
  }
  
  .aboutUsSection .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .aboutUsSection h2 {
    font-size: 2.5rem;
    color: #C08B6F;
    font-weight: bold;
  }
  
  .aboutUsSection p {
    font-size: 1.125rem;
    color: #4A4A4A;
    line-height: 1.6;
    max-width: 500px;
  }
  